<div class="container">

	<%= render 'users/prof', user: @user, book: @book %>

	<h2 class="new-section-title">Users</h2>
		<table>
			<% @users.each do |user| %>
				<tr>
					<td class="user_td"><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", class:"allusers_profile_image profile_image" %></td>
					<td class="user_td">
						<div class="users_username"><%= user.name %></div>
						<div class="users_usertext">
							<%= user.body%>
						</div>
					</td>
				</tr>
			<%end%>
		</table>
</div>