<div class="container">
	<h2 class="new-section-title">EDIT BOOK</h2>

	<%= form_for(@book) do |f| %>
	<%= f.text_field :title, placeholder:"Title" %>
	<%= f.text_area :body, placeholder:"Comment" %>

	<%= f.submit %>
	<% end %>

</div>