// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_image {
	border-radius: 50%;

}

/* edit==================================== */

.edit_profile_image {
	width: 150px;
	height: 150px;
	display: block;
}

.show_username {
	padding-top: 20px;
	font-weight: 600;
	display: inline-block;
}

.show_usertext {
	width: 350px;
	padding: 5px 5px 0 0;
	font-size: 14px;
	word-wrap: break-word;
}

.profile-edit-btn {
	display: inline-block;
	border-radius: 10px;
	border: 1px solid #eee;
}

/* allusers==================================== */

.allusers_profile_image {
	width: 100px;
	height: 100px;
}

.user_td {
	width: auto;
}

.users_username {
	font-weight: 600;
}

.users_usertext {
	color: #555;
	padding-left: 10px;
}