// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_image {
	border-radius: 50%;

}

/* edit==================================== */

.edit_profile_image {
	width: 150;
	height: 150px;
}

.show_username {
	font-weight: 600;
}

.show_usertext {
	padding: 5px 5px 50px 0;
	font-size: 14px;
}

/* allusers==================================== */

.allusers_profile_image {
	width: 100px;
	height: 100px;
}

.user_td {
	width: auto;
}

.users_username {
	font-weight: 600;
}

.users_usertext {
	color: #555;
	padding-left: 10px;
}